@model NSSBackEndProject.Models.FanFiction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>FanFiction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EssayTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EssayTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovalRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FanFictionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
