
@model NSSBackEndProject.Models.BookViewModel
@{
}


<h1>Yay! You tracked a book!</h1>

<div id="bookGrid" class="container-fluid">

<div class="AnotherFavoriteBookAdded">
    @foreach (var trackedBook in Model.TrackedUserBooks)
    {
        <div class="row">
            <div class="col-md-3 bookGrid__book"
                 id="movie--@Html.DisplayFor(modelItem => trackedBook.BookUserId)">

                <h2 class="fakeLink">@Html.DisplayFor(modelItem => trackedBook.Title)</h2>
                <img class="fakeLink"
                     src="https://image.tmdb.org/t/p/w154/@Html.DisplayFor(modelItem => trackedBook.ImageURL)" />

                <form asp-action="Update" asp-route-id="@trackedBook.BookUserId" method="post">
                    <div>Favorited: @Html.CheckBoxFor(modelItem => trackedBook.Favorited)</div>
                    <div><input asp-for="@trackedBook.Genre"></div>
                    <div>Watched: @Html.CheckBoxFor(modelItem => trackedBook.Watched)</div>
                </form>
            </div>
        </div>
    }

</div>
    </div>

