
@model NSSBackEndProject.Models.BookViewModels.TrackedBooksViewModel



@{
    ViewData["Title"] = "ListTrackedBook";
}
<body class="bodybackground">
    <div>
    <img src="~/images/Litwits7.png" alt="ASP.NET" class="banner" align="middle" />

    </div>
    <div id="bookGrid">
       
        @foreach (var trackedBook in @Model.BookShelf)
        {

            <div class="col-md-3 bookGrid__book">
                <div class="row">
                    <div id="ListTracked">
                        <img class="fakeLink"
                             src="@Html.DisplayFor(modelItem => trackedBook.BookImage)&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="alternative text" title="@trackedBook.Description" />

                        <h4><strong>@trackedBook.BookTitle</strong></h4>
                        <p><strong>@trackedBook.Author</strong></p>
                    </div>
                </div>
                <div>
                    <a asp-action="Delete" asp-route-id="@trackedBook.BookId" id="deleteTrackedBook">Delete</a>
                </div>
            </div>


          


        }

        
    </div>
        
  
</body>





